* {
    font-family: "Poppins";
    margin: 10px;
}

table.Tabela, th, tr, td {
    width: 60vw;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

tr.ParImpar:nth-child(odd) { background-color: rgba(128, 128, 128, 0.404); }

thead {
    font-weight: normal;
    position: sticky;
    top: -1px;
    background-color: black;
    color: white;
}