@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&family=Poppins:wght@400;500&display=swap');
* {
    font-family: 'Poppins';
}

body {
    background-color: rgb(68, 150, 245);
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    margin: auto;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
}

select {
    margin: 20px 0px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
