* {
  font-family: "Poppins";
  padding: 5px;
}

table, tr, th, td {
  width: 60vw;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: rgba(177, 175, 175, 0.397);
}

thead {
  background-color: black;
  color: white;
}
