.texto {
  color: crimson;
  font-size: 2em;
  font-family: 'Poppins';
}

.caixa {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.caixa a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: monospace;
  font-size: 2em;
}