@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&family=Poppins:wght@400;500&family=Unna:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Poppins';
}

h1 {
    margin: 4rem 0;
    text-transform: uppercase;
    text-align: center;
}

.ingrediente {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2rem;
}

div:nth-child(odd) {
    background-color: rgba(128, 128, 128, 0.144);
}

.ingrediente img {
    height: 3rem;
}

.ingrediente p {
    margin-left: 2rem;
}